body {
  background-color: antiquewhite;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.frameTitle {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 10px;
}

.modeButtons > button {
  width: 280px;
  height: 40px;
  background-color: white;
  border: 5px solid black;
  border-bottom: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 150ms;
}

.modeButtons > button:hover {
  background-color: lightgrey;
}

.gridArea {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 560px;
}

.arrowContainer {
  width: 100px;
  height: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrowButton, .newFrameButton {
  cursor: pointer;
}

.newFrameButton {
  height: 50px;
}

.grid {
  border: 5px solid black;
  width: 550px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.pixel {
  border: 1px solid white;
}

.codeBox {
  border: 5px solid black;
  width: 546px;
  height: 546px;
  resize: none;
}

.colorPresetForm {
  margin: auto;
  margin-top: 20px;
  padding-right: 35px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.colorPresets {
  position: relative;
  padding-left: 30px;
}

.colorPresets input[type="radio"] {
  display: none;
}

.colorPresets span {
  height: 40px;
  width: 40px;
  margin: 3px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.colorPresets input[type="radio"]:checked ~ span {
  margin: 0;
  border: 3px solid black;
}

.redPreset {
  background-color: red;
}

.bluePreset {
  background-color: blue;
}

.yellowPreset {
  background-color: yellow;
}

.limePreset {
  background-color: lime;
}

.whitePreset {
  background-color: white;
}

.blackPreset {
  background-color: black;
}

.customPreset span {
  width: 80px;
  padding-right: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.colorPicker {
  position: absolute;
  top: 0;
  left: 113px;
  width: 40px;
  height: 40px;
  margin-top: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  border: 3px solid white;
  cursor: pointer;
}

.settings {
  margin: auto;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.settings label {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px;
}

.sizeSettings {
  display: flex;
  width: 170px;
  justify-content: space-between;
}

.sizeBox {
  border: 3px solid black;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  width: 40px;
}

.snakeBox {
  width: 1rem;
  height: 1rem;
}