body {
  background-color: antiquewhite;
}

.modeButtons {
  text-align: center;
  margin-top: 30px;
}

.grid {
  border: 5px solid black;
  margin: auto;
  width: 550px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.pixel {
  border: 1px solid white;
  background-color: black;
}

.codeBoxContainer {
  text-align: center;
}

.codeBox {
  border: 5px solid black;
  width: 550px;
  height: 550px;
  resize: none;
}

.settings {
  margin: auto;
  margin-top: 12px;
  margin-bottom: 16px;
  display: flex;
  width: 170px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sizeSettings {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  width: 170px;
  justify-content: space-between;
}

.sizeBox {
  border: 3px solid black;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  width: 40px;
}